<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">{{ this.restuarantName }}</h2>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <img [src]="this.featuredImage" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12" style="margin-top: -12px;">
                        <h5>Restuarant Description</h5>
                        <p>{{ this.restuarantDescription }}</p>

                        <h5>Restuarant Address</h5>
                        <p>{{ this.restuarantAddress }}</p>

                        <h5>City</h5>
                        <p>{{ this.restuarantAddress }}</p>

                        <h5>Hot Line</h5>
                        <p>{{ this.restuarantAddress }}</p>
                    </div>
                </div>

                <hr>
                <h5>Available Categories</h5>

                
            </div>
        </div>
    </div>
</div>