<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Add New Category</h2>

    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 58rem;">
                <div class="card-body">
                    <form action="" class="form-group" [formGroup]="addCategoryForm" (ngSubmit)="onSubmitAddCategoryDetailsForm()">
                        <div class="row">
                            <div class="col-6">
                                <label for="categoryName">Category Name :</label>
                                <input type="text" class="form-control" placeholder="Eg. Burgers/Kottu/Fried Rice" formControlName="categoryName">
                            </div>

                            <div class="col-6">
                                <label for="categoryName">Category Description :</label>
                                <input type="text" class="form-control" placeholder="Eg. Burgers/Kottu/Fried Rice" formControlName="categoryDescription">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <label for="catImage">Add Category Featured Image</label>
                                <input type="file" class="form-control" (change)="onChangeImage($event)">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary" value="Add Category Details">
                                <input type="reset" class="btn btn-secondary ms-3" value="Reset Feilds">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of this.listOfCategories">
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="category.imageFile" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{ category.categoryName }}</p>
                                    <!-- <p class="text-muted mb-0">{{ category.categoryDescription }}</p> -->
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{ category.categoryDescription }}</p>
                            <!-- <p class="text-muted mb-0">{{ restuarant.state }}</p> -->
                        </td>
                        <td>
                            <span class="badge badge-secondary rounded-pill d-inline">Inactive</span>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" (click)="onClikcUpdateCategory(category.id)">Update</button>
                            <button class="ms-3 btn btn-danger btn-sm" (click)="onClickDeleteCategory(category.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>