<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">View Order ID # {{ this.orderId }}</h2>
    <hr style="width: 60rem;">

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Eatable Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachEatable of this.selectedEatableDetails">
                        <th scope="row">{{ eachEatable.eatableId }}</th>
                        <td>{{ eachEatable.eatableName }}</td>
                        <td>LKR . {{ eachEatable.eatablePrice }} .00</td>
                        <td>{{ eachEatable.quantity }}</td>
                        <td>LKR . {{ eachEatable.total }} .00</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>
                            <p class="font-weight-bold">Delivery Fee</p>
                            <p class="font-weight-bold">Sub Total</p>
                            <p class="font-weight-bold">Order Status</p>
                        </td>
                        <td>
                            <p class="font-weight-bold">LKR . {{ this.commonDetails.price }} .00 </p>
                            <p class="font-weight-bold">LKR . {{ this.orderSubTotal }} .00 </p>
                            <p class="font-weight-bold"> {{ this.orderStatus }} </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Restuarant Details</h5>
                    <hr style="border: 1px solid black;">
                    <div *ngIf="!this.isRestuarantDetailsHave">
                        <p>There is No Data About Restuarant</p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img [src]="this.restuarantDetails.featuredImage" alt="" style="width: 420px; height: 200px;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <h5>Restuarant Name</h5>
                            <p>{{ this.restuarantDetails.restuarantName }}</p>
                        </div>
                        <div class="col-6">
                            <h5>Location</h5>
                            <p>{{ this.restuarantDetails.location }}</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <h5>Contact No.</h5>
                            <p>{{ this.restuarantDetails.lanLine }}</p>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="this.orderStatus === 'Complete'">
                        <div class="col-12">
                            <button class="btn btn-primary btn-sm">Give Feedback For Restuarant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Delivery Details</h5>
                    <hr style="border: 1px solid black;">

                    <div *ngIf="this.isDriverAssigned">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img [src]="this.driverDetails.profileImage" alt="" style="width: 200px; height: 200px; border-radius: 50%;">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <h5>Full Name</h5>
                                <p>{{ this.driverDetails.fullName }}</p>
                            </div>
                            <div class="col-6">
                                <h5>Email Address</h5>
                                <p>{{ this.driverDetails.emailAddress }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>Mobile Number</h5>
                                <p>{{ this.driverDetails.mobileNumber }}</p>
                            </div>
                            <div class="col-6">
                                <h5>Location</h5>
                                <p>{{ this.driverDetails.location }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="this.orderStatus === 'Complete'">
                        <div class="col-12">
                            <button class="btn btn-primary btn-sm">Give Feedback For Driver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>