<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">See All Available Deliveries</h2>
    <hr>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Restuarant Name</th>
                    <th scope="col">Pickup Location</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let eachRequest of this.allAvailableDeliveryRequetsList">
                    <td></td>
                    <td>{{ eachRequest.restuarantName }}</td>
                    <td>{{ eachRequest.location }}</td>
                    <td>{{ eachRequest.landMobile }}</td>
                    <td>LKR .{{ eachRequest.subTotal }} .00</td>
                    <td>
                      <button class="btn btn-primary btn-sm" (click)="onClickManageDeliveryRequest(eachRequest.id)">Manage</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>