<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">See All Available Deliveries</h2>
    <hr>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Eatable Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td>
                      <p class="font-weight-bold">Sub Total</p>
                      <p class="font-weight-bold">Order Status</p>
                    </td>
                    <td>
                      <p class="font-weight-bold">ddddd </p>
                      <p class="font-weight-bold"> hhhh </p>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>