<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Manage Your Cart & Place Orders</h2>
    <hr style="width: 60rem;">
    <div class="row">
        <div class="col-12">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Eatable Name</th>
                        <th>Eatable Category</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eatable of this.selectedCartItems">
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="eatable.eatableFeaturedImage" alt="" style="width: 45px; height: 45px"
                                    class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{ eatable.eatableName }}</p>
                                    <p class="text-muted mb-0">{{ eatable.eatableDescription }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{ eatable.categoryName }}</p>
                            <p class="text-muted mb-0">{{ eatable.categoryDescription }}</p>
                        </td>
                        <td>
                            <p class="fw-normal"> LKR . {{ eatable.eatablePrice }} .00</p>
                        </td>
                        <td>
                            <input type="number" min="0" [defaultValue]="eatable.quantity" #quantity (change)="onChangeQantity(eatable.eatableId, quantity.value, eatable.eatablePrice)" class="form-control">
                        </td>
                        <td>
                            <b><p class="fw-normal font-weight-bold" style="float: right">LKR . {{ eatable.total }} .00</p></b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row mt-3">
                <div class="col-8">
                    <button class="btn btn-success btn-sm" style="float: right;" (click)="onSubmitCheckout()">Checkout Order</button>
                </div>
                <div class="col-2">
                    <h6 style="float: right;" class="mt-2">Sub Total</h6>
                </div>
                <div class="col-2">
                    <p class="mt-2 font-weight-bold ms-4">LKR . {{ this.subTotal }} .00</p> 
                </div>

                <hr style="border: 1px solid grey;">
            </div>
        </div>
    </div>
</div>